<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Index Page </title>
</head>
<body>
    <h1> INDEX PAGE </h1>
    <a href="/about"> ABOUT </a><br>
    <a href="/sign"> SIGN </a>
</body>
</html>