<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Index Page </title>
</head>
<body>
    <h1> SIGN PAGE </h1>
    <form action="/about" method="POST" >
        <input type="text" placeholder="my name is ..." name="name"><br>
        <input type="text" placeholder="I am ... years old . " name="age"><br>
        <input type="submit" value="submit"><br>
    </form>
</body>
</html>