<!DOCTYPE html>
<html lang="en">
<head>
	<title>HOME PAGE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="mainStatics/css/animate.css">
	<link rel="stylesheet" href="mainStatics/css/flexslider.css">
	<link rel="stylesheet" href="mainStatics/fonts/icomoon/style.css">

	<link rel="stylesheet" href="mainStatics/css/bootstrap.css">
	<link rel="stylesheet" href="mainStatics/css/style.css">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700" rel="stylesheet">


</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">



	<nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light" id="pb-navbar">

		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">

					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/signUp">Sign Up</a></li>
					<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					<li class="nav-item"><a class="nav-link" href="/logOut">Log out</a></li>
					<li class="nav-item"><a class="nav-link" href="/">Contact</a></li>

			</div>
		</div>
	</nav>




	<section class="site-hero" style="background-image: url(mainStatics/images/main.jpg);" id="section-home" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row intro-text align-items-center justify-content-center">
				<div class="col-md-10 text-center pt-5">

					<h1 class="site-heading site-animate">Hello, I'm <strong class="d-block">Armin Goodarzi</strong></h1>
					{{if .}}
					<strong class="d-block text-white text-uppercase letter-spacing">Hi {{.Name }} , WELCOME TO MY FIRST WEB APP WITH GO</strong>
					{{end}}

				</div>
			</div>
		</div>
	</section> <!-- section -->



	<script src="mainStatics/js/vendor/jquery.min.js"></script>
	<script src="mainStatics/js/vendor/jquery-migrate-3.0.1.min.js"></script>
	<script src="mainStatics/js/vendor/popper.min.js"></script>
	<script src="mainStatics/js/vendor/bootstrap.min.js"></script>

	<script src="mainStatics/js/vendor/jquery.easing.1.3.js"></script>

	<script src="mainStatics/js/vendor/jquery.stellar.min.js"></script>
	<script src="mainStatics/js/vendor/jquery.waypoints.min.js"></script>

	<script src="mainStatics/https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
	<script src="mainStatics/js/custom.js"></script>

	<!-- Google Map -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    	<script src="js/google-map.js"></script> -->

    </body>
    </html>